.popular {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    max-width: 380px;
    padding: 50px 30px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    transform: translateY(0);
    width: 100%;
}


.popular:hover {
    box-shadow: 0 15px 25px rgba(0, 0.0, 0.0, 0.2);
    /* shadow-2xl */
    transform: translateY(-0.6rem);
    /* -translate-y-2 (~-8px) */
}

.save {
    position: absolute;
    top: 15px;
    right: 15px;

}

.save .save_icon {
    stroke: #1743e0db;
    fill: none;
    stroke-width: 40px;
    background: #cadbffbd;
    border-radius: 100%;
    width: 40px;

}

.popular_deatils .tag {
    display: inline-block;
    padding: 15px 20px;
}

.popular_deatils .tag {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.popular_deatils .tag div {
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    border-radius: 12px;
    padding: 1px 5px;
}

.weak {
    color: #2d5affdb;
    background-color: #cadbffbd;
}

.enrolled {
    background: #8B5CF6;
    color: white;

}

.upcoming {
    color: #a37010db;
    background-color: #ffeacabd;
}

.ongoing {
    color: #0c5460;
    background-color: #d1ecf1;
}


.completed {
    color: #155724;
    background-color: #d4edda;
}

.canceled {
    color: #721c24;
    background-color: #f8d7da;
}

.data {
    padding: 5px 15px;
}

.beginner {
    border-left: 7px solid #0cbd0f;

}

.intermediate {
    border-left: 7px solid #ece10d;

}

.advanced {
    border-left: 7px solid #ff7722;

}

.data h2 {
    font-size: 22px;
    font-weight: bold;
}

.data .admin_edit {
    position: relative;
}

.data .admin_edit svg {
    position: absolute;
    top: 0px;
    right: -10px;
}

.data p {
    font-size: 14px;
    color: #666;
}

.seperator {
    padding: 10px 20px;
}

.price div {
    padding: 2px 0px;
}

.ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.ratings svg {
    fill: #ff7722;
    padding: 3px;
    width: 26px;
}

.price_data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

.price_data div {
    font-size: 18px;
    font-weight: bold;
}

.price_data s {
    font-size: 14px;
    color: #666;
}

.price_con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline;
}

.price_con button {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(245, 200, 39);
    font-size: 14px;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(255, 245, 45, 0.2);
}

.price_con button svg {
    width: 20px;
    padding: 0px;
    margin-top: 7px;
}


.seperator {
    padding: 30px 0px
}

.seperator span {
    display: block;
    width: 60%;
    height: 1px;
    background: #66666648;
    margin: auto;
}

@media (max-width: 1161px) {

    .popular {
        max-width: 420px;
    }
}

@media (max-width: 1000px) {
    .popular {
        max-width: 380px;
    }
}

@media (max-width: 751px) {
    .popular {
        padding: 30px 20px;
    }
}

@media (max-width: 700px) {

    .popular {
        padding: 30px 20px;
    }


}

@media (max-width:550px) {


    .data h2 {
        font-size: 20px;
        font-weight: bold;
    }

    .data .admin_edit svg {
        right: -20px;
    }


}